In [1]:
import pandas as pd
import numpy as np

df_arc = pd.read_csv('data_arc.csv')
df_bulk = pd.read_csv('data_bulk.csv')
df_bulk_time = pd.read_csv('data_bulk_time.csv')
df_gas = pd.read_csv('data_gas.csv')
df_temp = pd.read_csv('data_temp.csv')
df_wire = pd.read_csv('data_wire.csv')
df_wire_time = pd.read_csv('data_wire_time.csv')

In [2]:
df_arc = df_arc.query('reactive_power > 0')
df_arc_sum = pd.pivot_table(df_arc, index='key', values=['active_power', 'reactive_power'],
                           aggfunc={'active_power': np.sum,
                                   'reactive_power': np.sum})

In [3]:
df_arc_sum = df_arc_sum.rename(columns= {
    "active_power" : "sum_active_power",
    "reactive_power" : "sum_reactive_power"
})
df_arc_sum

      sum_active_power  sum_reactive_power
key
1             4.878147            3.183241
2             3.052598            1.998112
3             2.525882            1.599076
4             3.209250            2.060298
5             3.347173            2.252643
...                ...                 ...
3237          3.932467            2.828459
3238          2.106529            1.681182
3239          4.666754            3.111617
3240          2.984083            2.483267
3241          2.471447            1.696199

[3214 rows x 2 columns]

In [4]:
excluded_key = []

for key in list(df_temp['key'].unique()):
    try:
        if ((df_temp[df_temp['key'] == key]['sampling_time'].max() < df_arc[df_arc['key'] == key]['end_of_arc_heating'].max())
            or
            (df_temp[df_temp['key'] == key]['sampling_time'].max() == df_temp[df_temp['key'] == key]['sampling_time'].min())):
                excluded_key.append(key)
    except:
        excluded_key.append(key)

In [5]:
df_temp = df_temp.query('key not in @excluded_key')
df_temp = df_temp.dropna()
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   key            0 non-null      int64
 1   sampling_time  0 non-null      object
 2   Temperature    0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 0.0+ bytes

In [6]:
agg_df_temp = pd.pivot_table(df_temp, values='sampling_time', index='key', aggfunc={'sampling_time': [np.min, np.max]})

In [7]:
# create list
start_time_list = list(agg_df_temp['amin'])
end_time_list = list(agg_df_temp['amax'])

KeyError: 'amin'